# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel

# Capacitor / native
*.keystore
*.jks
android/keystore.properties
android/.gradle/
android/app/build/
android/build/
android/captures/
android/local.properties
ios/App/Pods/
ios/App/build/
ios/DerivedData/
ios/App/App/public/
.capacitor/
